*{
    margin: 0;
    padding: 0;
}

body{
    background-color: greenyellow;
    color: black;
    font-size: 1.25rem;
    font-family: Georgia;
    text-align: center;
    justify-content: center;
}

input,button{
    background-color: black;
    color: whitesmoke;
    font-size: 1.2rem;
    transition: 1s;
    margin-top: 12px;
    border-radius: 6px;
}

button:hover{
    background-color: pink;
    transition: 1s;
}